<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link rel="stylesheet" th:href="@{../styles/slideBar.css}">
    <link rel="stylesheet" th:href="@{../styles/employeersStyle.css}">
</head>
<body>
<div class="sidebar">
    <div class="logo-img">
        <a href="home">
            <img class="logo" th:src="@{../img/icons/logo.png}" alt="Log Icon">
        </a>
    </div>

    <div th:if="${isOwner || isAdmin || isOperator || isUser}" class="home-page">
        <a href="home">
            <div class="icons_background">
                <img id="home" th:src="@{../img/icons/home.png}" alt="Home Icon" />
            </div>
            <span class="span">Головна</span>
        </a>
    </div>
    <div th:if="${isOwner || isAdmin || isOperator || isUser}" class="project-page">
        <a href="tables">
            <div class="icons_background">
                <img id="projects" th:src="@{../img/icons/data.png}" alt="Data Icon" />
            </div>
            <span class="span">Таблиці</span>
        </a>
    </div>
    <div th:if="${isOwner || isAdmin || isOperator || isUser}" class="workers-page">
        <a href="employees">
            <div class="icons_background">
                <img id="workers" th:src="@{../img/icons/workers.png}" alt="Employeers Icon" />
            </div>
            <span class="span">Робітники</span>
        </a>
    </div>
    <div th:if="${isOwner || isAdmin || isOperator}" class="add-page">
        <a href="add_info">
            <div class="icons_background">
                <img id="add_info" th:src="@{../img/icons/add_info.png}" alt="Add Info Icon" />
            </div>
            <span class="span">Додати</span>
        </a>
    </div>
    <div th:if="${isOwner || isAdmin || isOperator}" class="querys-page">
        <a href="querys">
            <div class="icons_background">
                <img id="query_img" th:src="@{../img/icons/querys.png}" alt="Querys Icon" />
            </div>
            <span class="span">Запити</span>
        </a>
    </div>

    <div class="logout-btn">
        <a href="logout">
            <div class="circle">
                <img th:src="@{../img/icons/logout.png}" alt="Logout Icon" />
                <span class="span-logout">Вийти</span>
            </div>
        </a>
    </div>
</div>
<div class="main-content">

    <div class="employee-container">
        <div th:each="employee : ${employees}" class="employee-card">
            <img th:src="@{/employee/image/{id}(id=${employee.id})}" alt="Фото працівника" class="employee-image"/>
            <h3 th:text="${employee.name}">Ім'я працівника</h3>
            <p th:text="${employee.position}">Посада</p>

            <div class="buttons">
                <form th:if="${isOwner}" action="/employee/edit" method="get">
                    <input type="hidden" name="id" th:value="${employee.id}" />
                    <button type="submit">Редагувати</button>
                </form>

                <form th:if="${isOwner}" action="/employee/delete" method="post">
                    <input type="hidden" name="id" th:value="${employee.id}" />
                    <button type="submit" class="delete-button">Видалити</button>
                </form>
            </div>

        </div>
    </div>
</div>

</body>
</html>