<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зміна пароля</title>
    <link rel="stylesheet" th:href="@{../styles/changePasswordStyle.css}">
</head>
<body>
<div class="change-password-container">
    <h2>Зміна пароля</h2>
    <form action="/check-user" method="POST" onsubmit="return validateForm();">
        <label for="login">Логін:</label>
        <input type="text" id="login" name="login" required th:value="${login}">

        <label for="email">Електронна пошта:</label>
        <input type="email" id="email" name="email" required th:value="${email}">

        <button type="submit">Перевірити</button>

        <div id="passwordFields" th:if="${showFields}" style="display: block;">
            <label for="newPassword">Новий пароль:</label>
            <input type="password" id="newPassword" name="newPassword" required>
            <button type="button" onclick="togglePasswordVisibility('newPassword')">👁️</button>

            <label for="confirmPassword">Підтвердження пароля:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <button type="button" onclick="togglePasswordVisibility('confirmPassword')">👁️</button>

            <button type="submit" formaction="/update-password">Змінити пароль</button>
        </div>

        <p style="color: red;">
            <th:block th:if="${error != null}">[[${error}]]</th:block>
        </p>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const params = new URLSearchParams(window.location.search);
        const showFields = params.get('showFields');
        if (showFields === 'true') {
            const passwordFields = document.getElementById("passwordFields");
            passwordFields.classList.add("show"); // Додати клас show для анімації
            // Додаємо атрибут required до полів, коли вони видимі
            document.getElementById("newPassword").setAttribute("required", "required");
            document.getElementById("confirmPassword").setAttribute("required", "required");
        }
    });

    function togglePasswordVisibility(inputId) {
        var input = document.getElementById(inputId);
        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    }

    function validateForm() {
        if (document.getElementById("passwordFields").style.display === "block") {
            var newPassword = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            if (newPassword !== confirmPassword) {
                alert("Паролі не співпадають!");
                return false;
            }
        }
        return true;
    }

</script>
</body>
</html>
