<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зміна пароля</title>
    <link rel="stylesheet" th:href="@{../styles/changePasswordStyle.css}">
</head>
<body>
<div class="change-password-container">
    <h2>Зміна пароля</h2>
    <form action="/check-and-verify" method="POST" onsubmit="return validateForm();">
        <label for="login">Логін:</label>
        <input type="text" id="login" name="login" required th:value="${login}">

        <label for="email">Електронна пошта:</label>
        <input type="email" id="email" name="email" required th:value="${email}">

        <button type="submit">Перевірити</button>

        <!-- Поле для вводу верифікаційного коду -->
        <div class="verification_code" th:if="${showVerificationField}">
            <input id="inputVerifyCode" type="text" name="enteredCode" placeholder="Введіть код підтвердження" required>
            <button id="submitCode" type="submit">Перевірити код</button>
        </div>

        <div th:if="${showPasswordField}">
            <h3>Ваш новий пароль:</h3>
            <div id="newPasswordDisplay">
                <input id="newPasswordField" type="text" name="newPassword" th:value="${generatedPassword}">
                <button id="submitPassword" type="submit" formaction="/save-password">Зберегти пароль</button>
            </div>
        </div>

        <p style="color: red;">
            <th:block th:if="${error != null}">[[${error}]]</th:block>
        </p>
    </form>
</div>
</body>
</html>
