<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" th:href="@{../styles/homeStyles.css}">
    <link rel="stylesheet" th:href="@{../styles/slideBar.css}">
</head>
<body>
<div class="sidebar">
    <div class="logo-img">
        <a href="home">
            <img class="logo" th:src="@{../img/logo.png}" alt="Log Icon">
        </a>
    </div>

    <div class="home-page">
        <a href="home">
            <div class="icons_background">
                <img id="home" th:src="@{../img/home.png}" alt="Home Icon" />
            </div>
            <span class="span">Головна</span>
        </a>
    </div>
    <div class="project-page">
        <a href="projects">
            <div class="icons_background">
                <img id="projects" th:src="@{../img/data.png}" alt="Data Icon" />
            </div>
            <span class="span">Таблиці</span>
        </a>
    </div>
    <div class="logout-btn">
        <a href="logout">
            <div class="circle">
                <img th:src="@{../img/logout.png}" alt="Logout Icon" />
                <span class="span-logout">Вийти</span>
            </div>
        </a>
    </div>
</div>
</body>
</html>
