<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" th:href="@{../styles/homeStyles.css}">
    <link rel="stylesheet" th:href="@{../styles/slideBar.css}">
</head>
<body>
<div class="sidebar">
    <div class="logo-img">
        <a href="home">
            <img class="logo" th:src="@{../img/logo.png}" alt="Log Icon">
        </a>
    </div>

    <div class="home-page">
        <a href="home">
            <div class="icons_background">
                <img id="home" th:src="@{../img/home.png}" alt="Home Icon" />
            </div>
            <span class="span">Головна</span>
        </a>
    </div>
    <div class="project-page">
        <a href="tables">
            <div class="icons_background">
                <img id="projects" th:src="@{../img/data.png}" alt="Data Icon" />
            </div>
            <span class="span">Таблиці</span>
        </a>
    </div>
    <div class="workers-page">
        <a href="employees">
            <div class="icons_background">
                <img id="workers" th:src="@{../img/workers.png}" alt="Data Icon" />
            </div>
            <span class="span">Робітники</span>
        </a>
    </div>
    <div class="logout-btn">
        <a href="logout">
            <div class="circle">
                <img th:src="@{../img/logout.png}" alt="Logout Icon" />
                <span class="span-logout">Вийти</span>
            </div>
        </a>
    </div>

</div>
<h1>Список Проєктів</h1>
<div class="project-cards-container" th:if="${projects.size() > 0}">
    <div th:each="project : ${projects}" class="project-card">
        <img th:src="@{/project/image/{id}(id=${project.id})}" alt="Фото проекта" class="project-image"/>
        <div class="card-content">
            <h3 th:text="${project.name}">Project Name</h3>

            <!-- Виводимо дані категорії -->
            <p>Категорія: <span th:text="${categoryMap[project.categoryId].name}">Category Name</span></p>
            <p>Опис: <span th:text="${categoryMap[project.categoryId].description}">Category Description</span></p>

            <!-- Виводимо дані сайту -->
            <p>Сайт: <span th:text="${siteMap[project.siteId].name}">Site Name</span></p>
            <p>Управління:
                <span th:text="${brigadeMap[siteMap[project.siteId].managementId].name}">Brigade Name</span>

            </p>
            <p>Лідер бригади:
                <span th:text="${employeeMap[brigadeMap[siteMap[project.siteId].managementId].leaderId].name}">Leader Name</span>
            </p>
            <p>Місцезнаходження: <span th:text="${siteMap[project.siteId].location}">Location</span></p>

            <p>Дата початку: <span th:text="${project.startDate}">Start Date</span></p>
            <p>Дата завершення: <span th:text="${project.endDate}">End Date</span></p>

            <!-- Додаткові дані, які хочете вивести -->
            <form action="/project/edit" method="get">
                <input type="hidden" name="id" th:value="${project.id}" />
                <button type="submit">Змінити зображення</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
