<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" th:href="@{../styles/homeStyles.css}">
</head>
<body>

<div class="sidebar">
    <img th:src="@{../img/home.png}" alt="Home Icon" />
    <span>Головна</span>
    <img th:src="@{../img/project.png}" alt="Проекти">
    <span>Проекти</span>
</div>

<div class="content">
    <h1>Список проектів</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Назва</th>
            <th>Категорія ID</th>
            <th>Сайт ID</th>
            <th>Дата початку</th>
            <th>Дата завершення</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.id}" data-label="ID"></td>
            <td th:text="${project.name}" data-label="Назва"></td>
            <td th:text="${project.categoryId}" data-label="Категорія ID"></td>
            <td th:text="${project.siteId}" data-label="Росташування ID"></td>
            <td th:text="${project.startDate}" data-label="Дата початку"></td>
            <td th:text="${project.endDate}" data-label="Дата завершення"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
