<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Запити</title>
    <link rel="stylesheet" th:href="@{../styles/slideBar.css}">
    <link rel="stylesheet" th:href="@{../styles/querysStyle.css}">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
        }
    </style>
</head>
<body>
<div class="sidebar">
    <div class="logo-img">
        <a href="home">
            <img class="logo" th:src="@{../img/icons/logo.png}" alt="Log Icon">
        </a>
    </div>

    <div th:if="${isOwner || isAdmin || isOperator || isUser}" class="home-page">
        <a href="home">
            <div class="icons_background">
                <img id="home" th:src="@{../img/icons/home.png}" alt="Home Icon" />
            </div>
            <span class="span">Головна</span>
        </a>
    </div>
    <div th:if="${isOwner || isAdmin || isOperator || isUser}" class="project-page">
        <a href="tables">
            <div class="icons_background">
                <img id="projects" th:src="@{../img/icons/data.png}" alt="Data Icon" />
            </div>
            <span class="span">Таблиці</span>
        </a>
    </div>
    <div th:if="${isOwner || isAdmin || isOperator || isUser}" class="workers-page">
        <a href="employees">
            <div class="icons_background">
                <img id="workers" th:src="@{../img/icons/workers.png}" alt="Employeers Icon" />
            </div>
            <span class="span">Робітники</span>
        </a>
    </div>
    <div th:if="${isOwner || isAdmin || isOperator}" class="add-page">
        <a href="add_info">
            <div class="icons_background">
                <img id="add_info" th:src="@{../img/icons/add_info.png}" alt="Add Info Icon" />
            </div>
            <span class="span">Додати</span>
        </a>
    </div>
    <div th:if="${isOwner || isAdmin || isOperator || isUser}" class="querys-page">
        <a href="querys">
            <div class="icons_background">
                <img id="query_img" th:src="@{../img/icons/querys.png}" alt="Querys Icon" />
            </div>
            <span class="span">Запити</span>
        </a>
    </div>

    <div th:if="${isOwner || isAdmin}" class="addUser-page">
        <a href="addUser">
            <div class="icons_background">
                <img id="userAdd_img" th:src="@{../img/icons/user.png}" alt="User Add Icon">
            </div>
            <span class="span">Додати користувача</span>
        </a>
    </div>

    <div class="logout-btn">
        <a href="logout">
            <div class="circle">
                <img th:src="@{../img/icons/logout.png}" alt="Logout Icon" />
                <span class="span-logout">Вийти</span>
            </div>
        </a>
    </div>
</div>
<div class="content">
    <form action="/selectedQuery" method="post">
        <label for="querySelect">Виберіть запит:</label>
        <select id="querySelect" name="selectedQuery" required>
            <option value="" disabled selected>Оберіть запит</option>
            <option value="estimate" th:selected="${selectedQuery == 'estimate'}">Графік і Кошторис</option>
            <option value="brigade" th:selected="${selectedQuery == 'brigade'}">Бригади, що виконували обраний вид робіт у зазначений період</option>
            <option value="brigadesAndLeaders" th:selected="${selectedQuery == 'brigadesAndLeaders'}">Будівельні керування та їхні керівники</option> <!-- Додано новий запит -->
            <option value="overbudgetMaterials" th:selected="${selectedQuery == 'overbudgetMaterials'}">Матеріали з перевищенням кошторису по проекту</option>
            <option value="worksByBrigades" th:selected="${selectedQuery == 'worksByBrigades'}">Види робіт, виконані бригадою на об'єктах у заданий період</option>
            <option value="schedulesByManagementOrSite" th:selected="${selectedQuery == 'schedulesByManagementOrSite'}">Графіки зведення проектів які зводяться будівельним управлінням або ділянкою</option>
            <option value="brigadeCompositionForProject" th:selected="${selectedQuery == 'brigadeCompositionForProject'}">Склад бригад за об'єктом</option>
            <option value="engineeringAndTechnicalStaff" th:selected="${selectedQuery == 'engineeringAndTechnicalStaff'}">Список спеціалістів інженерно-технічного складу</option>
            <option value="equipmentBySiteOrDate" th:selected="${selectedQuery == 'equipmentBySiteOrDate'}">Отримати список обладнання на ділянці</option>
            <option value="allDelayedSchedulesByFilters" th:selected="${selectedQuery == 'allDelayedSchedulesByFilters'}">Види робіт з перевищенням термінів по ділянці або управлінню</option>
        </select>
        <button type="submit">Показати форму</button>
    </form>


    <form th:if="${selectedQuery == 'estimate'}" action="/EstimateAndSchedule" method="post">
        <input type="hidden" name="selectedQuery" th:value="${selectedQuery}"/>
        <label for="projectSelect">Виберіть проект:</label>
        <select id="projectSelect" name="projectName" required>
            <option value="" disabled selected>Оберіть проект</option>
            <option th:each="project : ${projects}" th:value="${project.name}" th:text="${project.name}"></option>
        </select>
        <button type="submit">Показати деталі</button>
    </form>

    <form th:if="${selectedQuery == 'brigade'}" action="/selectWork" method="post">
        <input type="hidden" name="selectedQuery" th:value="${selectedQuery}"/>
        <input type="hidden" name="workTypeName" th:value="${workTypeName}"/> <!-- Додаємо приховане поле для workTypeName -->
        <label for="workTypeSelect">Виберіть тип робіт:</label>
        <select id="workTypeSelect" name="workTypeId" required>
            <option th:each="workType : ${workTypes}" th:value="${workType.id}" th:text="${workType.name}" th:onclick="'setWorkTypeName(\'' + workType.name + '\')'"></option>
        </select>
        <label for="startDate">Дата початку:</label>
        <input type="date" id="startDate" name="startDate" required/>

        <label for="endDate">Дата завершення:</label>
        <input type="date" id="endDate" name="endDate" required/>
        <button type="submit">Показати деталі</button>
    </form>

    <form th:if="${selectedQuery == 'overbudgetMaterials'}" action="/overbudgetMaterials" method="post">
        <input type="hidden" name="selectedQuery" th:value="${selectedQuery}"/>
        <label for="projectformaterialSelect">Виберіть проект:</label>
        <select id="projectformaterialSelect" name="projectId" required>
            <option value="" disabled selected>Оберіть проект</option>
            <option th:each="project : ${projectsForMaterial}"
                    th:value="${project.id}"
                    th:text="${project.name}"></option>
        </select>
        <button type="submit">Показати деталі</button>
    </form>

    <form th:if="${selectedQuery == 'worksByBrigades'}" action="/worksByBrigades" method="post">
        <input type="hidden" name="selectedQuery" th:value="${selectedQuery}"/>

        <label for="brigadeSelect">Виберіть бригаду:</label>
        <select id="brigadeSelect" name="brigadeId" required>
            <option th:each="brigade : ${brigades}" th:value="${brigade.id}" th:text="${brigade.name}"></option>
        </select>

        <label for="startDateB">Дата початку:</label>
        <input type="date" id="startDateB" name="startDateB" required/>

        <label for="endDateB">Дата завершення:</label>
        <input type="date" id="endDateB" name="endDateB" required/>

        <button type="submit">Показати роботи</button>
    </form>

    <form th:if="${selectedQuery == 'schedulesByManagementOrSite'}" action="/schedulesByManagementOrSite" method="post">
        <input type="hidden" name="selectedQuery" th:value="${selectedQuery}"/>
        <label for="managementSelect">Будівельне управління:</label>
        <select id="managementSelect" name="managementId">
            <option value="" selected>Оберіть управління</option>
            <option th:each="management : ${managements}"
                    th:value="${management.id}"
                    th:text="${management.name}"></option>
        </select>

        <label for="siteSelect">Ділянка:</label>
        <select id="siteSelect" name="siteId">
            <option value="" selected>Оберіть ділянку</option>
            <option th:each="site : ${sites}"
                    th:value="${site.id}"
                    th:text="${site.name}"></option>
        </select>

        <button type="submit">Показати</button>
    </form>

    <form th:if="${selectedQuery == 'brigadeCompositionForProject'}" action="/brigadeCompositionForProject" method="post">
        <input type="hidden" name="selectedQuery" th:value="${selectedQuery}"/>
        <label for="projectSelectEmployee">Проект:</label>
        <select id="projectSelectEmployee" name="projectId">
            <option value="" selected>Оберіть проект</option>
            <option th:each="project : ${projectsForBrigades}"
                    th:value="${project.id}"
                    th:text="${project.name}"></option>
        </select>
        <button type="submit">Показати</button>
    </form>

    <form th:if="${selectedQuery == 'engineeringAndTechnicalStaff'}" action="/engineeringAndTechnicalStaff" method="post">
        <input type="hidden" name="selectedQuery" th:value="${selectedQuery}"/>
        <label for="managementSelectS">Будівельне управління:</label>
        <select id="managementSelectS" name="managementId">
            <option value="" selected>Оберіть управління</option>
            <option th:each="management : ${managements}"
                    th:value="${management.id}"
                    th:text="${management.name}"></option>
        </select>

        <label for="siteSelectS">Ділянка:</label>
        <select id="siteSelectS" name="siteId">
            <option value="" selected>Оберіть ділянку</option>
            <option th:each="site : ${sites}"
                    th:value="${site.id}"
                    th:text="${site.name}"></option>
        </select>

        <button type="submit">Показати</button>
    </form>

    <form th:if="${selectedQuery == 'equipmentBySiteOrDate'}" action="/equipmentBySiteOrDate" method="post">
        <input type="hidden" name="selectedQuery" th:value="${selectedQuery}"/>
        <input type="hidden" name="siteName" th:value="${siteName}"/>
        <label for="siteSelectE">Виберіть тип робіт:</label>
        <select id="siteSelectE" name="siteId">
            <option value="" disabled selected>Оберіть розташування</option>
            <option th:each="site : ${sites}" th:value="${site.id}" th:text="${site.name}"></option>
        </select>
        <label for="startDateE">Дата початку:</label>
        <input type="date" id="startDateE" name="startDate"/>

        <label for="endDateE">Дата завершення:</label>
        <input type="date" id="endDateE" name="endDate"/>
        <button type="submit">Показати деталі</button>
    </form>

    <form th:if="${selectedQuery == 'allDelayedSchedulesByFilters'}" action="/allDelayedSchedulesByFilters" method="post">
        <input type="hidden" name="selectedQuery" th:value="${selectedQuery}"/>
        <label for="siteSelectD">Ділянка:</label>
        <select id="siteSelectD" name="siteId">
            <option value="" selected>Оберіть ділянку</option>
            <option th:each="site : ${sites}"
                    th:value="${site.id}"
                    th:text="${site.name}"></option>
        </select>

        <label for="managementSelectD">Будівельне управління:</label>
        <select id="managementSelectD" name="managementId">
            <option value="" selected>Оберіть управління</option>
            <option th:each="management : ${managements}"
                    th:value="${management.id}"
                    th:text="${management.name}"></option>
        </select>

        <label for="organizationFlag">Include All Organizations:</label>
        <input type="checkbox" id="organizationFlag" name="organizationFlag" value="true">

        <button type="submit">Показати</button>
    </form>


    <!-- Відображення деталей проекту -->
    <div th:if="${schedules != null}">
        <h2>Деталі проекту: <span th:text="${projectName}"></span></h2>
        <h3>Графік робіт:</h3>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Тип робіт</th>
                <th>Дата початку</th>
                <th>Дата завершення</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="schedule : ${schedules}">
                <td th:text="${schedule.id}"></td>
                <td th:text="${schedule.workType.name}"></td>
                <td th:text="${schedule.startDate}"></td>
                <td th:text="${schedule.endDate}"></td>
            </tr>
            </tbody>
        </table>

        <h3>Кошторис:</h3>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Матеріал</th>
                <th>Кількість</th>
                <th>Вартість</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="estimate : ${estimates}">
                <td th:text="${estimate.id}"></td>
                <td th:text="${estimate.material}"></td>
                <td th:text="${estimate.quantity}"></td>
                <td th:text="${estimate.cost}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${results != null}">
        <h3>Бригади, які виконали роботи:</h3>
        <table>
            <thead>
            <tr>
                <th>Назва бригади</th>
                <th>Назва проекту</th>
                <th>Тип робіт</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="result : ${results}">
                <td th:text="${result[0]}"></td> <!-- Назва бригади -->
                <td th:text="${result[1]}"></td> <!-- Назва проекту -->
                <td th:text="${result[2]}"></td> <!-- Назва типу робіт -->
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${selectedQuery == 'brigadesAndLeaders'}">
        <h2>Перелік будівельних керувань й їхніх керівників</h2>
        <table>
            <thead>
            <tr>
                <th>Бригада</th>
                <th>Лідер</th>
                <th>Проект</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="brigade : ${brigades}">
                <td th:text="${brigade[0]}"></td>
                <td th:text="${brigade[2]}"></td>
                <td th:text="${brigade[1]}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${overBudgetMaterials != null}">
        <h2>Перелік матеріалів з перевищенням кошторису</h2>
        <table>
            <thead>
            <tr>
                <th>Матеріал</th>
                <th>Загальна кількість використаного матеріалу</th>
                <th>Загальна фактична вартість</th>
                <th>Кошторисна вартість</th>
                <th>Сума перевищення кошторису</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="material : ${overBudgetMaterials}">
                <td th:text="${material[0]}"></td>
                <td th:text="${material[1]}"></td>
                <td th:text="${material[2]}"></td>
                <td th:text="${material[3]}"></td>
                <td th:text="${material[4]}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${brigadeWorkDetails != null}">
        <h2>Роботи, виконані бригадою</h2>
        <table>
            <thead>
            <tr>
                <th>Бригада</th>
                <th>Тип робіт</th>
                <th>Проект</th>
                <th>Дата початку</th>
                <th>Дата завершення</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="workDetail : ${brigadeWorkDetails}">
                <td th:text="${workDetail[0]}"></td>
                <td th:text="${workDetail[1]}"></td>
                <td th:text="${workDetail[2]}"></td>
                <td th:text="${workDetail[3]}"></td>
                <td th:text="${workDetail[4]}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${schedulesByManagementOrSite != null}">
        <h2>Об'єкти та графіки їх зведення</h2>
        <table>
            <thead>
            <tr>
                <th>Назва проекту</th>
                <th>Ділянка</th>
                <th>Будівельне управління</th>
                <th>Дата початку</th>
                <th>Дата закінчення</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project : ${schedulesByManagementOrSite}">
                <td th:text="${project[0]}"></td> <!-- Назва проекту -->
                <td th:text="${project[1]}"></td> <!-- Назва ділянки -->
                <td th:text="${project[2]}"></td> <!-- Назва управління -->
                <td th:text="${project[3]}"></td> <!-- Дата початку -->
                <td th:text="${project[4]}"></td> <!-- Дата закінчення -->
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${brigadeComposition != null}">
        <h2>Склад бригад для обраного проекту</h2>
        <table>
            <thead>
            <tr>
                <th>Назва бригади</th>
                <th>Ім'я робітника</th>
                <th>Посада</th>
                <th>Ділянка</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="composition : ${brigadeComposition}">
                <td th:text="${composition[0]}"></td>
                <td th:text="${composition[1]}"></td>
                <td th:text="${composition[2]}"></td>
                <td th:text="${composition[3]}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${specialists != null}">
        <h2>Список спеціалістів інженерно-технічного складу</h2>
        <table>
            <thead>
            <tr>
                <th>Ім'я</th>
                <th>Посада</th>
                <th>Локація</th>
                <th>Управління</th>
                <th>Категорія роботи</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="specialist : ${specialists}">
                <td th:text="${specialist[0]}"></td>
                <td th:text="${specialist[1]}"></td>
                <td th:text="${specialist[2]}"></td>
                <td th:text="${specialist[3]}"></td>
                <td th:text="${specialist[4]}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${equipments != null}">
        <h2>Список обладнання</h2>
        <table>
            <thead>
            <tr>
                <th>Назва обладнання</th>
                <th>Тип</th>
                <th>Локація</th>
                <th>Дата початку</th>
                <th>Дата завершення</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="equipment : ${equipments}">
                <td th:text="${equipment[0]}"></td>
                <td th:text="${equipment[1]}"></td>
                <td th:text="${equipment[2]}"></td>
                <td th:text="${equipment[3]}"></td>
                <td th:text="${equipment[4]}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${delayedSchedules != null}">
        <h2>Список розкладів з затримкою завершення</h2>
        <table>
            <thead>
            <tr>
                <th>Тип роботи</th>
                <th>Локація</th>
                <th>Управління будівництвом</th>
                <th>Назва проекту</th>
                <th>Дата завершення</th>
                <th>Дата завершення в звіті</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="schedule : ${delayedSchedules}">
                <td th:text="${schedule[0]}"></td>
                <td th:text="${schedule[1]}"></td>
                <td th:text="${schedule[2]}"></td>
                <td th:text="${schedule[3]}"></td>
                <td th:text="${schedule[4]}"></td>
                <td th:text="${schedule[5]}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>